{{>header}}
        <link rel="stylesheet" href="/css/style.css" />
        <title>Speed Typing Game</title>
    </head>
    <body>
        <button id="settings-btn" class="settings-btn">
            <i class="fas fa-cog"></i>
        </button>

        <div id="settings" class="settings">
            <form id="settings-form">
            </form>
            <form id="language-form">
                <div>
                    <label for="language"> *Select language</label>
                    <select id="language">
                        <option value="javascript">JavaScript/Node.js</option>
                        <option value="python">Python</option>
                        <option value="html-css">HTML/CSS</option>
                        <option value="all">All languages</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="func-container">
                <div class="separator">
                    <p class="title" id="left-col">Time spends</p>
                    <p><span id="time">0s</span></p>
                </div>
                <div class="separator">
                    <p class="title" id="center-col">Words left</p>
                    <p><span id="words-left">0</span></p>
                </div>
                <div class="separator">
                    <p class="title" id="right-col">WPM</p>
                    <p><span id="wpm">0</span></p>
                </div>
            </div>
            <div class="word-container">
                <small>Type the following:</small>
                <h1 id="word"></h1>
            </div>

            <div class="arrow-down">
                <i class="fa-solid fa-angles-down"></i>
            </div>


            <div class="answer" id="answer"></div>
            <div id="start-game-container" class="start-game-container">
                <h2>Typing for programmer.</h2>
                <button onclick="start()">start</button>
            </div>
        </div>
{{>end}}
