{{>header}}
        <link rel="stylesheet" href="/css/style.css" />
        <title>Speed Typing Game</title>
    </head>
    <body>
        <button id="settings-btn" class="settings-btn">
            <i class="fas fa-cog"></i>
        </button>

        <div id="settings" class="settings">
            <form id="settings-form">
            </form>
            <form id="language-form">
                <div>
                    <label for="language">Select language</label>
                    <select id="language">
                        <option value="javascript">JavaScript/Node.js</option>
                        <option value="python">Python</option>
                        <option value="html-css">HTML/CSS</option>
                        <option value="all">All languages</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="container">
            <small>Type the following:</small>

            <h1 id="word"></h1>

            <p class="time-container">Time spends: <span id="time">0s</span></p>
            <p class="left-container">Words left: <span id="left">0</span></p>

            <p class="score-container">Score: <span id="score">0</span></p>

            <div class="answer" id="answer"></div>
            <div id="end-game-container" class="end-game-container">
                <h1>Speed Typer</h1>
                <button onclick="start()">START</button>
            </div>
        </div>
{{>end}}
